.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #10A95B;
    height: 59px;
    margin-top: 20px;
    padding-top: 6px;
    border-radius: 6px;
    width: 100%;
    max-width: 352px;
}

.status > h2 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #F9F4DA;
    margin: 0;
    padding-bottom: 6px;
}

.status > p {
    font-weight: 500;
    font-size: 0.875rem;
    color: #F9F4DA;
    margin: 0
}
